<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackArchitectureComponents"
        tools:targetApi="31">
        <activity
            android:name=".A_lifeCyObs.d_LCyEventObs.LifecycleEventObsActivity"
            android:exported="false" />
        <activity
            android:name=".A_lifeCyObs.c_defaultLifeCyObs.DefaultLifeCyObsActivity"
            android:exported="false" />
        <activity
            android:name=".A_lifeCyObs.b_params.LifeCyObWithParamsActivity"
            android:exported="false" />
        <activity
            android:name=".C_liveData.b_liveData.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".C_liveData.a_mutableLD.MutableLiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".B_viewModel.c_vmfactory.ViewModelFactoryActivity"
            android:exported="false" />
        <activity
            android:name=".B_viewModel.b_withVM.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".B_viewModel.a_withoutVM.WithoutViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".A_lifeCyObs.a_noParams.LifecycleObserverActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>